@{
    ViewData["Title"] = "Profil";
}
<form asp-action="Profil" asp-controller="Home" method="post">
    <input id="=dosya" type="file" name="dosya" />
    <label for="dosya">Profil fotoğrafınızı seçin</label>
    <button type="submit">Gönder</button>
</form>